

body{

    background-color: black;
    color: white;
  }


h1{
  text-align: center;
}



#navbar{
    text-align: center;
    padding: 40px; 
    background-color:white;
    font-size: 20px; 
    
    
    border-color: white;
    
  }

  a{

    padding: 40px;
  }

  #A1{
    width :100px;
    height: 100px;
    border: 2px solid black;
    margin-left: 700px;

  }



 #container{

  display: flex;
  background-color:black;
  align-content: center;
  justify-content: center;
 }


 .A{


  background-color :white;
  align-items: center;
  margin: 20px;
  width: 400px;
  height: 400px;
  color: black;
 
 }

 #con{

  display: flex;
  background-color: black;
  align-content: center;
  justify-content: center;
 }


 .B{


  background-color: white;
  align-items: center;
  margin: 20px;
  width: 400px;
  height: 400px;
  color: black;
 }

 h2{
  text-align: center ;
 }

 button{

  width: 400px;
  height: 40px;
  
  background-color: green;
}

button:hover{


  background-color:orange    ;

}
 