body{

    background-color: black;
    color: white;
  }


#navbar{
    text-align: center;
    padding: 30px; 
    background-color:white;
    font-size: 20px; 

    
    border-color: white;
    
  }

  a{

    margin-right: 100px;
    padding: 40px;
 }
 
#containers{

display: flex;
background-color: black;
align-content: center;
justify-content: center;

}

.A{

    background-color:black;
    align-items: center;
    margin: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;

}

.A img{

    border-radius: 50%;
}

#Contact{

    display: flex;
    background-color: white;
    align-self: center;
    justify-content: center;
}

.B{
    background-color: black;
    align-items: center;
    margin:20px;
    width: 300px;
    height: 200px;
    text-align: center;
}